<!DOCTYPE html>
<html>
<head>
  <title>提交Person信息</title>
</head>
<body>
<h2>localhost:8080</h2>
<form action="/insert_person" method="POST">
  <label for="person_id">Person ID:</label>
  <input type="number" id="person_id" name="person_id" required>
  <br><br>
  <label for="personname">Person Name:</label>
  <input type="text" id="personname" name="personname" required>
  <br><br>
  <label for="department">Department:</label>
  <input type="text" id="department" name="department" required>
  <br><br>
  <label for="position">Position:</label>
  <input type="text" id="position" name="position" required>
  <br><br>
  <input type="submit" value="提交">
</form>
</body>
</html>