<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>科研成果管理系统</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="script_a.js"></script>

</head>

<body onload="inquiry_a()">

<h1>科研成果管理系统</h1>

<div class="top_bar">
  <div class="labels">
    <span>
      <a class="hyperlink" href="http://localhost:8080/home">&nbsp;&nbsp;&nbsp;查询功能&nbsp;&nbsp;&nbsp;</a>
      <img class="label" src="label.png" alt="查询功能">
    </span>
    <span>
      <a class="hyperlink" href="http://localhost:8080/log">&nbsp;&nbsp;&nbsp;管理功能&nbsp;&nbsp;&nbsp;</a>
      <img class="label" src="picked_label.png" alt="管理功能">
    </span>
    <span>
      <a class="hyperlink" href="http://localhost:8080/cal">&nbsp;&nbsp;计算工作量&nbsp;&nbsp;</a>
      <img class="label" src="label.png" alt="计算工作量">
    </span>
  </div>
</div>

<br>

<div class="input_div">
  <label for="function">&nbsp;&nbsp;&nbsp;功能选择：</label>
  <select class="select" id="function">
    <option value="none">-请选择-</option>
    <option value="add">新增成果信息</option>
    <option value="delete">删除成果信息</option>
    <option value="add_p">新增人员信息</option>
    <option value="delete_p">删除人员信息</option>
  </select>
</div>

<br>

<!--新增功能-->
<div id="add_form" class="container" style="display:none;">
  <form name="add" action="" method="post">
    <fieldset class="field">
      <legend>新增成果信息：</legend>
      <div class="input_div" align="center">
        <label for="id_a">成果编号：</label>
        <input type="text" id="id_a" name="id" required>
      </div>

      <br>

      <div class="input_div" align="center">
        <label for="name_a">成果名称：</label>
        <input type="text" id="name_a" name="name" required>
      </div>

      <br>

      <div class="input_div" align="center">
        <label for="category_a">成果种类：</label>
        <select class="select" id="category_a" name="category">
          <option value="">-请选择-</option>
          <option value="research">科学研究</option>
          <option value="award">荣誉奖项</option>
          <option value="patent">专利</option>
          <option value="visit">出访</option>
        </select>
      </div>

      <br>

      <div class="input_div" align="center">
        <label for="year_a">成果日期：</label>
        <input type="date" id="year_a" name="year" required>
      </div>

      <br>

      <div class="input_div" align="center">
        <label for="level_a">成果等级：</label>
        <select class="select" id="level_a" name="level">
          <option value="">-请选择-</option>
          <option value="国家级">国家级</option>
          <option value="省级">省级</option>
          <option value="校级">校级</option>
        </select>
      </div>

      <br>

      <div class="input_div" align="center">
        <label for="person_id_a">人员编号：</label>
        <input type="text" id="person_id_a" name="person_id" required>
      </div>

      <br>

      <div id="research_a" class="input_addition" align="center" style="display: none;">
        <div class="input_div" align="center">
          <label for="research_meeting_name">会议名称：</label>
          <input type="text" id="research_meeting_name" name="meeting_name">
        </div>

        <br>

        <div class="input_div" align="center">
          <label for="research_meeting_level">会议等级：</label>
          <select class="select" id="research_meeting_level" name="meeting_level">
            <option value="">-请选择-</option>
            <option value="A类期刊">A类期刊</option>
            <option value="B类期刊">B类期刊</option>
            <option value="C类期刊">C类期刊</option>
          </select>
        </div>

        <br>

      </div>

      <div id="award_a" class="input_addition" align="center" style="display:none;">
        <div class="input_div" align="center">
          <label for="award_source">获奖来源：</label>
          <input type="text" id="award_source" name="award_source">
        </div>

        <br>

        <div class="input_div" align="center">
          <label for="award_level">获奖等级：</label>
          <select class="select" id="award_level" name="award_level">
            <option value="">-请选择-</option>
            <option value="一等奖">一等奖</option>
            <option value="二等奖">二等奖</option>
            <option value="三等奖">三等奖</option>
          </select>
        </div>

        <br>

      </div>

      <div id="patent_a" class="input_addition" align="center" style="display:none;">
        <div class="input_div" align="center">
          <label for="patent_number">专利编号：</label>
          <input type="text" id="patent_number" name="patent_num">
        </div>

        <br>

      </div>

      <div id="visit_a" class="input_addition" align="center" style="display:none;">
        <div class="input_div" align="center">
          <label for="visit_destination">出访目的地：</label>
          <input type="text" id="visit_destination" name="dest">
        </div>

        <br>

        <div class="input_div" align="center">
          <label for="visit_period">出访时长(月)：</label>
          <input type="number" id="visit_period" name="period">
        </div>

        <br>

      </div>

      <button type="submit" class="submit">新增</button>

    </fieldset>
  </form>
</div>

<!--删除功能-->
<div id="delete_form" class="container" style="display:none;">
  <form name="delete" action="" method="post">
    <fieldset class="field">
      <legend>删除成果信息：</legend>
      <div class="input_div" align="center">
        <label for="id_d">待删除成果编号：</label>
        <input type="text" id="id_d" name="id">
        <button type="submit" class="button_a">删除</button>
      </div>
    </fieldset>
  </form>
</div>

<!--新增人员功能-->
<div id="add_p_form" class="container" style="display: none;">
  <form name="add_p" action="" method="post">
    <fieldset class="field">
      <legend>新增人员信息：</legend>
      <div class="input_div" align="center">
        <label for="id_p_a">人员编号：</label>
        <input type="text" id="id_p_a" name="person_id" required>
      </div>

      <br>

      <div class="input_div" align="center">
        <label for="name_p_a">人员姓名：</label>
        <input type="text" id="name_p_a" name="personname" required>
      </div>

      <br>

      <div class="input_div" align="center">
        <label for="department_p_a">人员部门：</label>
        <input type="text" id="department_p_a" name="department" required>
      </div>

      <br>

      <div class="input_div" align="center">
        <label for="position_p_a">人员职称：</label>
        <input type="text" id="position_p_a" name="position" required>
      </div>

      <br>

      <button type="submit" class="submit">新增</button>
      
    </fieldset>
  </form>
</div>

<!--删除人员功能-->
<div id="delete_p_form" class="container" style="display: none;">
  <form name="delete_p" action="" method="post">
    <fieldset class="field">
      <legend>删除人员信息：</legend>
      <div class="input_div" align="center">
        <label for="id_p_d">待删除人员编号：</label>
        <input type="text" id="id_p_d" name="person_id">
        <button type="submit" class="button_a">删除</button>
      </div>
    </fieldset>
  </form>
</div>

<br>

<div class="prompt" id="insert_s" style="display: none">成功插入以下成果信息：</div>
<div class="prompt" id="insert_e" style="display: none">插入失败！！！</div>
<div class="prompt" id="delete_s" style="display: none">请确认是否删除以下成果信息：</div>
<div class="prompt" id="delete_e" style="display: none">删除失败！！！</div>
<div class="prompt" id="insert_p_s" style="display: none">成功插入以下人员信息：</div>
<div class="prompt" id="insert_p_e" style="display: none">插入失败！！！</div>
<div class="prompt" id="delete_p_s" style="display: none">请确认是否删除以下人员信息：</div>
<div class="prompt" id="delete_p_e" style="display: none">删除失败！！！</div>

<br>

<div id="asdfgh" class="asdfgh">全部科研成果如下：</div>

<br>

<table align="center"></table>

<br>

<button type="button" id="confirm_delete" class="submit_cd" style="display: none;">确认删除</button>
<button type="button" id="confirm_delete_p" class="submit_cd" style="display: none;">确认删除</button>

<div class="popup" style="display: none">
  <div class="popup-header">
    <span class="popup-close">&times;</span>
  </div>
  <div class="popup-content">
    <p class="popup-message"></p>
    <br>
  </div>
</div>

<br>

</body>

</html>
