<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>科研成果管理系统</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="script_c.js"></script>

</head>

<body>

<h1>科研成果管理系统</h1>

<div class="top_bar">
  <div class="labels">
    <span>
      <a class="hyperlink" href="http://47.93.252.177:8080/home">&nbsp;&nbsp;&nbsp;查询功能&nbsp;&nbsp;&nbsp;</a>
      <img class="label" src="label.png" alt="查询功能">
    </span>
    <span>
      <a class="hyperlink" href="http://47.93.252.177:8080/log">&nbsp;&nbsp;&nbsp;管理功能&nbsp;&nbsp;&nbsp;</a>
      <img class="label" src="label.png" alt="管理功能">
    </span>
    <span>
      <a class="hyperlink" href="http://47.93.252.177:8080/cal">&nbsp;&nbsp;计算工作量&nbsp;&nbsp;</a>
      <img class="label" src="picked_label.png" alt="计算工作量">
    </span>
  </div>
</div>

<br>

<div class="input_div">
  <label for="function">&nbsp;&nbsp;&nbsp;功能选择：</label>
  <select class="select" id="function">
    <option value="cal_none">-请选择-</option>
    <option value="cal_p">查询人员工作量</option>
    <option value="cal_y">查询年度工作量排名</option>
  </select>
</div>

<br>

<div class="container" id="cal_n">
  <fieldset class="field">
    <legend>科研工作量计算标准：</legend>
    <div class="popup-content">
      国家级成果权重3，省级成果权重2，校级成果权重1
      用以上来源级别权重*以下权重=单项成果权重
      科学研究:A类权重3，B类权重2，C类权重1
      荣誉奖项:一等奖权重3，二等奖权重2，三等奖权重1
      专利:统一权重为1.5
      出访:按照时长，每月权重为0.1
    </div>
  </fieldset>
</div>

<div class="container" id="cal_p" style="display: none">
  <form name="calculation" action="" method="POST">
    <fieldset class="field">
      <legend>计算科研人员工作量：</legend>
      <div class="input_div" align="center">
        <label for="person_id">人员编号：</label>
        <input type="text" id="person_id" name="person_id">
      </div>

      <br>

      <div class="input_div" align="center">
        <label for="year_p">&nbsp;年&nbsp;&nbsp;份&nbsp;：</label>
        <input type="text" id="year_p" name="year">
      </div>

      <br>

      <button type="submit" class="submit" id="submit_i">查询</button>
    </fieldset>
  </form>
</div>

<div class="container" id="cal_y" style="display: none">
  <form name="calculation_y" action="" method="POST">
    <fieldset class="field">
      <legend>计算年度工作量排名：</legend>
      <div class="input_div" align="center">
        <label for="year">&nbsp;年&nbsp;&nbsp;份&nbsp;：</label>
        <input type="text" id="year" name="year">
        <button type="submit" class="button_a" id="submit_i_y">查询</button>
      </div>
    </fieldset>
  </form>
</div>

<br>

<div class="prompt" id="cal_e" style="display: none">该人员编号不存在或该人员没有科研成果！！！</div>
<div class="prompt" id="cal_s" style="display: none">该人员工作量如下：</div>
<div class="prompt" id="cal_y_e" style="display: none">年份输入错误或该年份没有科研成果！！！</div>
<div class="prompt" id="cal_y_s" style="display: none">该年份工作量统计如下：</div>

<br>

<table align="center" id="table_1"></table>

<br>

<div class="table_container">
  <table align="center" id="table_2" class="table"></table>
</div>

<br>

<button type="button" id="download" class="submit_cd" style="display: none;">保存到本地</button>
<button type="button" id="download_y" class="submit_cd" style="display: none;">保存到本地</button>

<br>

<div class="popup" style="display: none">
  <div class="popup-header">
    <span class="popup-close">&times;</span>
  </div>
  <div class="popup-content">
    <p class="popup-message"></p>
    <br>
  </div>
</div>
</body>

</html>
