<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>科研成果管理系统</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="script_c.js"></script>

</head>

<body>

<h1>科研成果管理系统</h1>

<div class="top_bar">
  <div class="labels">
    <span>
      <a class="hyperlink" href="http://localhost:8080/home">&nbsp;&nbsp;&nbsp;查询功能&nbsp;&nbsp;&nbsp;</a>
      <img class="label" src="label.png" alt="查询功能">
    </span>
    <span>
      <a class="hyperlink" href="http://localhost:8080/adm">&nbsp;&nbsp;&nbsp;管理功能&nbsp;&nbsp;&nbsp;</a>
      <img class="label" src="label.png" alt="管理功能">
    </span>
    <span>
      <a class="hyperlink" href="http://localhost:8080/cal">&nbsp;&nbsp;计算工作量&nbsp;&nbsp;</a>
      <img class="label" src="picked_label.png" alt="计算工作量">
    </span>
  </div>
</div>

<br>
<br>

<div class="container">
  <form name="calculation" action="" method="POST">
    <fieldset class="field">
      <legend>计算科研人员工作量：</legend>
      <div class="input_div" align="center">
        <label for="person_id">人员编号：</label>
        <input type="text" id="person_id" name="person_id">
        <button type="submit" class="button_a" id="submit_i">查询</button>
      </div>
    </fieldset>
  </form>
</div>

<br>

<div class="prompt" id="cal_e" style="display: none">该人员编号不存在！！！</div>
<div class="prompt" id="cal_s" style="display: none">该人员工作量如下：</div>

<br>

<table align="center" id="table_1"></table>

<br>

<div class="table_container">
  <table align="center" id="table_2" class="table"></table>
</div>

<br>

<button type="button" id="download" class="submit_cd" style="display: none;">保存到本地</button>

<br>

<div class="popup" style="display: none">
  <div class="popup-header">
    <span class="popup-close">&times;</span>
  </div>
  <div class="popup-content">
    <p class="popup-message"></p>
    <br>
  </div>
</div>
</body>

</html>
