<!DOCTYPE html>
<html>
<head>
    <title>Homepage</title>
</head>
<body>
<h2>Welcome to the Homepage</h2>

<button onclick="location.href='/getachievements'">Get Achievements</button>
<br><br>

<button onclick="location.href='/add'">Add Achievement</button>
<br><br>

<button onclick="location.href='/searchbyid'">Search by ID</button>
<br><br>

<button onclick="location.href='/searchbypersonname'">Search by Person Name</button>
<br><br>

<button onclick="location.href='/searchbyachname'">Search by Achievement Name</button>
<br><br>

<button onclick="location.href='/searchbytype'">Search by Type</button>
<br><br>

<button onclick="location.href='/deletebyid'">Delete by ID</button>
</body>
</html>